<div class='nav-bar'>  
  <div class='nav-bar-inner'>
    <div class='nav-bar-logo'>
      <a href='/'><img src='/images/cnodejs_light.svg'/></a>
    </div>
    <div class='nav-bar-list'>
        <a href='/'>首页</a>
        <a href='/'>未读消息</a>
        <a href='https://cnodejs.org/getstart'>新手入门</a>
        <a href='/'>API</a>
        <a href='https://cnodejs.org/about'>关于</a>
        <a href='/'>设置</a>
        <!-- <div><a href='/signout'>退出</a></div> -->
        <a href='/signin'>登录</a>
    </div>
   
  </div>
</div>